<h1>Editing Calificacion Pelicula</h1>

<%= render 'form', calificacion_pelicula: @calificacion_pelicula %>

<%= link_to 'Show', @calificacion_pelicula %> |
<%= link_to 'Back', calificacion_peliculas_path %>
